
.toggle.ios, .toggle-on.ios, .toggle-off.ios { 
	border-radius: 30px;
}

.toggle.ios .toggle-handle { 
	border-radius: 30px;
}

.container {
	background-image: url('../images/background.jpg');
}

.game {
	margin-top: 50px;
}

.game-body {
	float: left; 
	width: 1000px; 
	height: 600px;
}

.hidden-div {
	display: none;
}

.world {
	background: black;
}

.logo {
	text-align: center; 
	width: 100%;
}

.logo img {
	width: 450;
	margin: 0 auto;
}

.login {
	width: 300px; 
	margin: 0 auto; 
	text-align: center;
}

.rounded {
	border-radius: 30px;
}

.rounded-right {
	border-radius: 0px 30px 30px 0px;
}

.rounded-left {
	border-radius: 30px 0px 0px 30px;
}

.rounded-bottom {
	border-radius: 0px 0px 30px 30px;
}

.last-stat {
	color: indigo;
}